:root { 
    --cor-de-fundo: #1E1E1E; 
    --verde: #ffd0ef; 
    --branco: #FFFFFF; 
    --botao-ativo: #b0a9ff; 
    --botao-inativo: rgba(146, 136, 255, 0.5); 
    --texto-fundo: rgba(58, 55, 94, 0.3); }